Flask==2.2.5
Flask_Cors==5.0.0
Flask_JWT_Extended==4.6.0
Flask_Limiter==3.9.2
flask_swagger_ui==4.11.1
google-api-core==2.24.1
google-api-python-client==2.163.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.2
google-cloud-firestore==2.20.1
google-cloud-storage==3.1.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.0
pandas==2.2.3
pydantic==1.10.18
pydantic_core==2.23.3
pyodbc==5.1.0
Requests==2.32.3
cmd_gui_kit==1.0.0
termcolor==2.3.0
python-dotenv==1.0.1
firebase==4.0.1
firebase-admin==6.6.0
email_validator==2.2.0
plotly==5.24.1
bcrypt==4.1.3