<html>
    <head>
        <style>
            body { font-family: Arial, sans-serif; margin: 20px; }
            h1 { color: #333; }
            table { width: 100%; border-collapse: collapse; margin-top: 20px; }
            th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
            th { background-color: #0404a7; }
            tr:nth-child(even) { background-color: #0404d7; }
            tr:hover { background-color: #040477; }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Available Endpoints</h1>
        <p>Total Endpoints: {{ metadata.total_endpoints }}</p>
        <table>
            <thead>
                <tr>
                    <th>Rule</th>
                    <th>Endpoint</th>
                    <th>Methods</th>
                    <th>Arguments</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for endpoint in endpoints %}
                <tr>
                    <td>{{ endpoint.rule }}</td>
                    <td>{{ endpoint.endpoint }}</td>
                    <td>{{ ', '.join(endpoint.methods) }}</td>
                    <td>{{ ', '.join(endpoint.arguments) }}</td>
                    <td>{{ endpoint.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
    </html>